html {
  font-size: 10px;
  pointer-events: none;
}

body {
  margin: 0;
}

#keyboard {
  width: 100%;
  height: 20.5rem;
  position: absolute;
  bottom: 0;
  pointer-events: auto;
  z-index: 15;
  border-top: 0.1rem solid #A1A5A8;
  background-color: #606B6E;
}

.key {
  display: inline-block;
  min-width: 2.6rem;
  padding: 0;
  font-size: 0;
  font-family: sans-serif;
  border: none;
  border-radius: 0;  /* To override the system-default border radius for button element  */
  background: none;
}

.popup {
  display: inline-block;
  position: absolute;
  top: -5.8rem;
  width: 5.6rem;
  height: 5.6rem;
  color: #fff;
  font-size: 2.8rem;
  line-height: 5.6rem;
  border-radius: 50%;
  background-color: red;
}

.visual-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 4.3rem;
  margin: 0.4rem 0;
}
